body{
    background-color: black;
}
li{
    color: blueviolet;
}
h1{
    color: red;
}
h2{
    color: blue;
}
th{
    color: blueviolet;
}
p{
    color: blueviolet;
}
#blue{
    color: blue;
}
#Music{
    color: blue;
}